In [6]:
import pandas as pd

### Get Data
# Get Parcel ID Data
parcel_id = pd.read_csv("MKE_Parcel_ID.csv", encoding = 'latin-1', sep = ',')

# Get MPROP Data
mprop_19 = pd.read_csv("MPROP_2019.csv", encoding = 'latin-1', sep = ',')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [23]:
# Clean Data
data_19 = mprop_19[['HOUSE_NR_LO', 'SDIR', 'STREET', 'STTYPE', 'OWN_OCPD', 'P_A_LAND', 'P_A_IMPRV', 'P_A_TOTAL', 'GEO_TRACT']]
data_19['OWN_OCPD'] = data_19['OWN_OCPD'].fillna('N')
data_19['address'] = data_19['HOUSE_NR_LO'].map(str) + ' ' + data_19['SDIR'].map(str) + ' ' + \
    data_19['STREET'].map(str) + ' ' + data_19['STTYPE'].map(str)


data_19['imprv_val_share'] = data_19['P_A_IMPRV'] / data_19['P_A_TOTAL']
data_19['imprv_val_share'] = data_19['imprv_val_share'].fillna(-1)

tract_19 = data_19[['GEO_TRACT', 'imprv_val_share', 'P_A_TOTAL', 'P_A_LAND']]

tract_19 = tract_19.groupby(['GEO_TRACT']).median()

tract_19

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

           imprv_val_share  P_A_TOTAL  P_A_LAND
GEO_TRACT
0.0               0.587900      97100     36100
101.0             0.844866      80900      7700
102.0             0.827128      74600     14400
201.0             0.779006      20300      4000
202.0             0.795933     132300     28300
...                    ...        ...       ...
186800.0          0.651016      95600     12100
186900.0          0.947163     233800     10800
187000.0          0.938151     196800      7300
187400.0          0.966667     317150      9850
980000.0         -1.000000          0         0

[218 rows x 3 columns]

In [24]:
data_19

,HOUSE_NR_LO,SDIR,STREET,STTYPE,OWN_OCPD,P_A_LAND,P_A_IMPRV,P_A_TOTAL,GEO_TRACT,address,imprv_val_share
0,2263,N,LAKE,DR,N,0,0,0,187000.0,2263 N LAKE DR,-1.000000
1,9164,N,70TH,ST,N,0,0,0,101.0,9164 N 70TH ST,-1.000000
2,8919,N,70TH,ST,N,0,0,0,101.0,8919 N 70TH ST,-1.000000
3,9036,N,70TH,ST,N,0,0,0,101.0,9036 N 70TH ST,-1.000000
4,9083,N,85TH,ST,N,0,0,0,101.0,9083 N 85TH ST,-1.000000
...,...,...,...,...,...,...,...,...,...,...,...
160599,1701,E,COLLEGE,AV,N,165600,3834400,4000000,160100.0,1701 E COLLEGE AV,0.958600
160600,1701,E,COLLEGE,AV,N,0,0,0,160100.0,1701 E COLLEGE AV,-1.000000
160601,6757,S,13TH,ST,N,501400,942000,1443400,21700.0,6757 S 13TH ST,0.652626
160602,6719,S,13TH,ST,N,616000,2517600,3133600,21700.0,6719 S 13TH ST,0.803421
160603,6801,S,13TH,ST,N,1010000,1702300,2712300,21700.0,6801 S 13TH ST,0.627622

In [25]:
parcel_id

        parcelnumb                           owner               address
0     3.240809e+09                    CITY OF MILW        2660 N 17TH ST
1     3.522824e+09               CITY OF MILWAUKEE        1909 N 14TH ST
2     3.113115e+09               VALERIA G GRIFFIN        2859 N 14TH ST
3     3.513802e+09                    WILMA SMILEY  1350 W RESERVOIR AVE
4     3.231432e+09                  BARBARA J BLUE         2358 N 9TH ST
...            ...                             ...                   ...
2481           NaN  incomplete taxroll information                   NaN
2482           NaN  incomplete taxroll information                   NaN
2483  3.121209e+09              CONSTANCE A HOLMAN        2740 N 10TH ST
2484  3.231510e+09       GEOFFREY R ZOLLIKOFFER II         2663 N 8TH ST
2485  3.241043e+09                    LORN BLACKER      1725 W CLARKE ST

[2486 rows x 3 columns]